<%= image_tag("index-tools2.jpg", class: 'bg') %>
<div class="home">
  <h1>I need tools!</h1>
  <%= form_tag 'search' do %>
    <div class="form-inline form-group">
      <%= text_field_tag :value, "", class:"form-control input-lg" %>
      <%= submit_tag "Search", class:"btn btn-default btn-lg" %>
    </div>
  <% end %>
</div>
