@import url(https://fonts.googleapis.com/css?family=Allerta+Stencil);
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-family: 'Allerta Stencil', sans-serif;
}

h1{
  font-size: 96px;
}

footer{
  background-color: #eee;
  color: #888;
  padding: 20px;
  text-align: center;
  margin-top: 20px
}

.main{
  margin: 0px 20px;
}

.panel-heading{
  text-align: center;
}

.home{
//  background: url('index-tools.jpg') no-repeat fixed center;
  text-align: center;
}

.navbar{
  margin-bottom: 0px;
}

.thumbnail{
  text-align: center;
}
