<%= form_for Review.new do |f| %>
  <!--<div class="form-group">
    <label for="sell">Evaluate the Rental:</label>
    <select class="form-control" id="sell">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>-->

  <div><%= f.text_field :eval, class: "form-control" , placeholder: 'Evaluate the Rental from 1 to 5'%></div>
  <div><%= f.text_field :comment, class: "form-control", placeholder: 'Comment the Rental, others will love to know your opinion' %> </div>
    <div><%= f.submit "Save", class: "btn" %>
  </div>
<% end %>
