<div>
  <p>Rent Experience: <span style="font-weight:bold"><%= review.eval %></span></p>
    <em> Comment: <%= review.comment %>
      <em>
      <h6><%= review.updated_at.to_date %></h6>
      <em>
    </em>

  <p>────────────────────────────────────</p>
</div>
