<footer>
  <p>Developed by
    <%= link_to "Dennis", "https://github.com/dennisdijkstra", target: "_blank" %>,
    <%= link_to "Fabiano", "https://github.com/flgonzales", target: "_blank" %>  and
    <%= link_to "Rosiene", "https://github.com/rosiene", target: "_blank" %>
    </p>
</footer>
